.projects {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: grid;
}
.projects h3 {
    display:inline;
}
.project-desc span {
    color: rgb(142, 208, 224);
}
.projects h2 > a {
    text-decoration: none;
    color: black;
}
.projects h2 > a:hover {
    text-decoration: underline;
}
.project-content {
    border-bottom: thin solid lightgray;
}
.img-container {
    height:100%;
    width:100%;
    display:grid;
    justify-content: center;
    align-items: center;
}
.project-img {
    max-width:100%;
    margin: auto;
}

@media (max-width: 480px) {
    .projects {
        min-height: 100%;
        border-top: thin solid rgb(223, 223, 223);
    }
    .project-content {
        width:100%;
    }
}

/* Landscape phone to portrait tablet */

@media (min-width: 481px) and (max-width: 829px) {
    .projects {
        min-height: 100%;
        border-top: thin solid rgb(223, 223, 223);
    }
    .project-content {
        width:100%;
    }
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 830px) {
    .projects {
        height: 100%;
        padding: 1% 5%;
        overflow:hidden;
    }
    .projectsList {
        max-height:100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .project-content {
        width:100%;
        height:100%;
        display:grid;
        grid-template-columns: 3fr 7fr;
        justify-content: center;
        align-items: center;
    }
    .project-desc {
        padding-right: 1em;
    }
}